<div class="container mt-5">
  <h2>Formulario de Registro de Paciente</h2>
  <form [formGroup]="formulario" (ngSubmit)="registrarPaciente()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        formControlName="nombre"
        required
      />
    </div>

    <div class="mb-3">
      <select
        class="form-control"
        id="especialistas"
        formControlName="especialistas"
        required
      >
        <option value="" disabled>Select Especialista</option>
        <option
          *ngFor="let especialista of especialistasData"
          [value]="especialista"
        >
          {{ especialista.nombre }}
        </option>
      </select>
    </div>

    <button type="button" class="btn btn-primary">Registrar Paciente</button>
  </form>
</div>
