<div class="container mt-5">
  <h1 class="mb-4">Datos</h1>

  <div class="list-group">
    <!-- Use ngFor to loop through the array and display each object -->
    <div *ngFor="let usuario of usuarios" class="list-group-item">
      <h5 class="mb-1">{{ usuario.nombre }}</h5>
      <p class="mb-1">
        <strong>Especialidad:</strong> {{ usuario.especialidad }}
      </p>
      <p class="mb-1">
        <strong>Horario Laboral:</strong> {{ usuario.horario_laboral }}
      </p>
      <p class="mb-1"><strong>Puesto:</strong> {{ usuario.puesto }}</p>

      <!-- Add buttons for editing and deleting -->
      <div class="btn-group" role="group">
        <a [routerLink]="['/editar/usuario/', usuario.id]"
          ><button type="button" class="btn btn-warning">Editar</button></a
        >
        <a [routerLink]="['/eliminar/usuario/', usuario.id]"
          ><button type="button" class="btn btn-danger">Eliminar</button>
        </a>
      </div>
    </div>
  </div>

  <!-- Button for adding a new user -->
  <a [routerLink]="['/agregar/admins']">
    <button type="button" class="btn btn-success mt-3">
      Agregar Nuevo Usuario
    </button></a
  >
</div>
