<div class="container mt-5">
  <h2>Editar Paciente</h2>
  <form (ngSubmit)="editarPaciente()">
    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <input
        type="text"
        class="form-control"
        id="nombre"
        required
        [(ngModel)]="nuevoPaciente.nombre"
        name="nombre"
      />
    </div>

    <div class="mb-3">
      <label for="especialistas" class="form-label">Especialistas:</label>
      <select
        class="form-control"
        id="especialistas"
        required
        [(ngModel)]="nuevoPaciente.especialistas"
        name="especialistas"
      >
        <option value="" disabled>Select Especialista</option>
        <option
          *ngFor="let especialista of especialistasData"
          [value]="especialista.nombre"
        >
          {{ especialista.nombre }}
        </option>
      </select>
    </div>

    <!-- Nuevos campos agregados -->
    <div class="mb-3">
      <label for="telefono" class="form-label">Teléfono:</label>
      <input
        type="text"
        class="form-control"
        id="telefono"
        [(ngModel)]="nuevoPaciente.telefono"
        name="telefono"
      />
    </div>

    <div class="mb-3">
      <label for="genero" class="form-label">Género:</label>
      <input
        type="text"
        class="form-control"
        id="genero"
        [(ngModel)]="nuevoPaciente.genero"
        name="genero"
      />
    </div>

    <div class="mb-3">
      <label for="dpi" class="form-label">DPI:</label>
      <input
        type="text"
        class="form-control"
        id="dpi"
        [(ngModel)]="nuevoPaciente.dpi"
        name="dpi"
      />
    </div>

    <div class="mb-3">
      <label for="direccion" class="form-label">Dirección:</label>
      <input
        type="text"
        class="form-control"
        id="direccion"
        [(ngModel)]="nuevoPaciente.direccion"
        name="direccion"
      />
    </div>
    <!-- Fin de los nuevos campos -->

    <button type="submit" class="btn btn-primary">Editar</button>
  </form>
</div>
