<div class="container mt-4">
  <h2>Datos:</h2>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let paciente of pacientesData; let i = index"
    >
      <strong>Item {{ i + 1 }}:</strong>
      <ul class="list-unstyled">
        <a [routerLink]="['/especialista/paciente/', paciente.id]">
          <p>ir a paciente</p></a
        >
        <li><strong>ID:</strong> {{ paciente.id }}</li>
        <li><strong>Nombre:</strong> {{ paciente.nombre }}</li>
        <li><strong>Proceso:</strong> {{ paciente.proceso }}</li>
        <!-- Add more properties as needed -->
      </ul>
    </li>
  </ul>
</div>
