<div class="container mt-4">
  <h2>EXÁMENES PACIENTES</h2>

  <div *ngFor="let paciente of pacientesData; let i = index" class="card mb-3">
    <div class="card-body">
      <a [routerLink]="['/laboratorio/examenes/', paciente.id]">
        <h5 class="card-title">Ir a Paciente</h5>
      </a>
      <p class="card-text">Name: {{ paciente.nombre }}</p>
      <h2 class="card-subtitle mb-2 text-muted">Patient {{ i + 1 }}</h2>
      <p class="card-text">Name: {{ paciente.nombre }}</p>
      <p class="card-text">
        Urinalysis: {{ paciente.examen_orina.join(", ") }}
      </p>
      <p class="card-text">
        Blood Test: {{ paciente.examen_sangre.join(", ") }}
      </p>
    </div>
    <hr class="my-4" />
  </div>
</div>
